/target/
/EmotionalSongs.app/Contents/Java/EmotionalSongs/target/
.DS_Store
src/main/java/.DS_Store
src/main/java/emotionalsongs/.DS_Store
src/main/java/.DS_Store
src/main/java/emotionalsongs/.DS_Store
.DS_Store
.DS_Store
